<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--
    For proper responsive behavior
        - width: Controls the minimum pixel width of the viewport (establishes the value of the 'vw' unit)
            - device-width: the physical size of the device screen in CSS pixels
        - initial-scale: Ratio between the device width and the viewport size
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TodoApp</title>

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static_files', path='/css/base.css') }}" />
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form id="loginForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" autocomplete="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/register-page">Register?</a>
            </div>
        </div>
    </div>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>