{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form id="loginForm">
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" autocomplete="username" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/register-page">Register?</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block script_extra %}
    <!--
        The script tag with type="module" is used to include a JS MODULE in a web page.
        This attribute instructs the browser to treat the script as an ECMAScript module (ESM),
        which enables features like `import`and `export` statements.
        These modules are deferred by default.
        Only the main entry point script (the one that handles all imports) should be included here.
    -->
    <script type="module" src="{{ url_for('static_files', path='/js/login.js') }}"></script>
{% endblock %}